/* Estilos para el contenedor del mapa */

#map {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    /* Permite hacer scroll */
    padding: 1%;
    border-radius: 8px;
    background-color: #121212;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Tabla estilizada */
.sightings-table {
    border-collapse: collapse;
    font-size: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #1e1e24;
    color: white;
    table-layout: auto;
}




/* Cabecera de la tabla */
.sightings-table thead th {
    background-color: #1D4C54;
    padding: 12px 10px;
    white-space: nowrap;
    border-bottom: 1px solid #3d3d3d;
    font-weight: 400;
    text-align: left;

}

/* Estilos para las celdas */
.sightings-table td {
    padding: 10px 8px;
    border-bottom: 1px solid #3d3d3d;
    text-align: left;
    white-space: nowrap;


}

.sightings-table th,
.sightings-table td {
    padding: 10px; /* Ajusta el valor según la separación deseada */
    text-align: left;
}




/* Filas alternadas de la tabla */
.sightings-table tbody tr:nth-child(even) {
    background-color: #24242b;
}

.sightings-table tbody tr:nth-child(odd) {
    background-color: #1e1e24;
}

/* Efecto de hover para filas */
.sightings-table tbody tr:hover {
    background-color: #2e2e38;
    cursor: pointer;
}

tbody td:nth-child(3){
    white-space: normal;

}



.sightings-table td:first-child {
    font-weight: bold;
    color: #00BCD4;
}

.delete-cell {
    text-align: center;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff1a1a;
}

.delete-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

td.ubicacion-cell {
    max-width: 300px;
    white-space: nowrap;
}

.columna_inexistente {
    
width: 100%;
}