/* Estilos para el contenedor del mapa */
#registro {
  border-radius: 8px;
  background-color: #26252a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.users-table {
  border-collapse: collapse;
  border-radius: 8px;
  color: white;
  /*table-layout: fixed;*/
  overflow: hidden;
  width: 100%;
  flex: 1;
}

.users-table th img {
  vertical-align: middle;
  height: 1.5em;
  margin-left: 5px;
  padding: 3px;
}

.users-table thead th {
  background-color: #1d4c54;
  padding: 1rem 0.5rem;
  white-space: nowrap;
  border-bottom: 1px solid #3d3d3d;
  font-weight: 400;
  text-align: left;
}

.users-table td {
  padding: 0.5rem;
  border-bottom: 1px solid #3d3d3d;
  text-align: left;
  white-space: nowrap;
}

.users-table tbody tr:nth-child(even) {
  background-color: #24242b;
}

.users-table tbody tr:nth-child(odd) {
  background-color: #1e1e24;
}

.users-table tbody tr:hover {
  background-color: #2e2e38;
  cursor: pointer;
}

.users-table td:first-child {
  font-weight: bold;
  color: #00bcd4;
  padding-left: 1rem;
}

.users-table th:first-child {
  padding-left: 1rem;
}

.ubicacion-cell {
  max-width: 350px;
  min-width: 350px;
  width: 350px;
  white-space: normal !important;
}

.users-table td.actions-cell {
  flex-direction: row;
  justify-content: flex-end;
}



td.actions-cell>button {
  margin-right: 10px;
}

td.actions-cell>button:last-child {
  margin-right: 0px;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}

.delete-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

#modal-confirm-delete.active {
  display: block;
}
.modal {
  position: fixed;
  /* Hace que el modal esté fijo en la pantalla */
  top: 50%;
  /* Coloca el modal en el centro vertical */
  left: 50%;
  /* Coloca el modal en el centro horizontal */
  transform: translate(-50%, -50%);
  /* Ajusta para que el modal quede completamente centrado */
  border-radius: 20px;
  color: white;
  background-color: var(--form-background-color);
  border: 2px solid var(--link-color);
  padding: 20px;
  /* Puedes ajustar el padding según el diseño que desees */
  z-index: 1000;
  /* Asegura que el modal esté por encima de otros elementos */
}

.modal p {
  font-size: small;
  text-align: center;
}

.buttons-confirm {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.button-confirm-delete {
  background-color: #00BCD4;
  /* Color inicial */
  color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
  /* Transición suave */
}

.button-confirm-delete:hover {
  background-color: red;
  /* Color al pasar el mouse */
}


.rank-select {
  background-color: transparent;
  color: #00bcd4;
  border: 1px solid #00bcd4;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;

}

.status-select {
  background-color: transparent;
  color: #00bcd4;
  border: 1px solid #00bcd4;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

select option {
  background-color: #1e1e24;
  border-color: black;
  color: #00bcd4;
  text-align: left;
}


h2 {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.search-input {
  padding: 10px;
  width: 40%;
  /* Ajusta el ancho según sea necesario */
  border: 1px solid #00BCD4;
  border-radius: 4px;
  background-color: #1e1e24;
  color: white;
}

/* Estilos para el modal de filtro */
#filter-modal {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  border: 3px solid var(--primary-color);
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

#filter-modal.active {
  display: block;
  border-radius: 5px;
}

#filter-modal.active label {
  width: 200px;
}

#filter-modal.active h3 {
  text-align: center;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid white;
}

/* Estilos para cada opción de filtro */
.filter-option {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}

.filter-option label {
  margin-left: 0.5rem;
}

/* Contenedor para los botones de acción del modal */
.filter-actions {
  margin-top: 1rem;
}

/* Estilos para los botones dentro del modal */
#filter-modal button {
  margin-right: 0.5rem;
  margin-bottom: 10px;
}

/* Estilo para el botón de opciones de filtro */
#filter-options-btn {
  margin-left: 1rem;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: var(--form-background-color);
  border: 2px solid var(--primary-color);
}

#filter-options-btn svg {
  width: 50%;
  height: 38%;
}

#filter-options-btn:hover {
  background-color: #00BCD4;
}

form button{
  background-color: var(--input-border);
}

#filter-confirm-btn:hover{
  background-color: var(--link-color);
}

#cancel-filter-btn:hover{
  background-color:var(--error-color);
}
form input {
  width: 25px;
}

.register-container {
  background: #1A1A1C;
  padding: 1rem;
  flex: 1;
  display: flex;
  font-size: 0.95rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
}

.pagination button {

  background-color: transparent;
  color: #00bcd4;
  border: 1px solid #00bcd4;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

}

.filters {
  padding: 1rem;
}

.users-list {
  flex: 1;
}

.mobile-only {
  display: none;

}


@media (max-width: 768px) {

  #registro {
    background: none;
    box-shadow: none;
  }

  .main-content {
    margin-top: 70px;
  }

  .users-table thead {
    display: none;
    /* Ocultar encabezados de tabla en móviles */
  }

  .users-table tbody tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    border: 1px solid #3d3d3d;
    border-radius: 8px;
    padding: 1rem;
    background-color: #1e1e24;
  }

  .users-table tbody td {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    font-size: 1em;
    border: none;
  }

  .users-table tbody td::before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    margin-right: 1rem;
    color: #00bcd4;
  }


  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-group {
    width: calc(50% - 0.5rem);
  }

  .register-container {
    background: #1A1A1C;
    padding: 1rem;
    flex: 1;
    display: flex;
    margin-bottom: 60px;
  }

  .form-group.full-width {
    width: 100%;

  }




  .mobile-only {
    display: flex;

  }

  .users-table thead {
    display: none;
    /* Ocultar encabezados de tabla en móviles */
  }

  .users-table td.actions-cell {
    width: unset;
    margin-top: 0.75rem;
    padding-block: 0;
  }

  .ubicacion-cell {
    max-width: unset;
    min-width: unset;
    width: unset;
  }

  .pagination {
    padding: 0;
    padding-block: 1rem;
  }

  .filters {
    padding: 0;
    padding-block: 1rem;
  }

  .search-input {
    width: 100%;
    font-size: 1em;
    height: unset;
    padding: 1rem;
  }
}

@media (max-width: 1600px) {

  .register-container {
    font-size: 0.8rem;
  }

  .col-large-screen {
    display: none;
  }

}

@media (max-width: 1280px) {

  .col-medium-screen {
    display: none;
  }

  .ubicacion-cell {
    max-width: unset;
    min-width: unset;
    width: auto;
  }

  .users-table td.col-ws {
    white-space: pre-line;
  }
}