* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
    }
}

body{
    height: calc(var(--vh, 1vh) * 100);
}

.main-content {
    flex-grow: 1;
    display: flex;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column-reverse;
    }
}